<?xml version="1.0" encoding="utf-8"?>
<!--
Этот файл используется процессом публикации или упаковки вашего веб-проекта. Можно настроить поведение этого процесса,
изменив этот файл MSBuild. Подробности см. на странице https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/9d79ee34-8e14-4e71-b58e-33d6b8d9414b/resourceGroups/Reenbit_resource/providers/Microsoft.Web/sites/Test-Task-Net-Blazor-Reenbit-Timofey-Prozor</ResourceId>
    <ResourceGroup>Reenbit_resource</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://test-task-net-blazor-reenbit-timofey-prozor.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>f549f809-4560-4117-820a-cf2e0c9f5cff</ProjectGuid>
    <MSDeployServiceURL>test-task-net-blazor-reenbit-timofey-prozor.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Test-Task-Net-Blazor-Reenbit-Timofey-Prozor</DeployIisAppPath>
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>REDACTED</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <TargetFramework>net8.0</TargetFramework>
    <SelfContained>true</SelfContained>
    <EncryptedPassword>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAjbijFZE8HkCjOu5Ch1uOmwAAAAACAAAAAAAQZgAAAAEAACAAAADdzSiMUFFfri8nkx0RLw07EbSQ4rRPBdr+NxFDt4PvIAAAAAAOgAAAAAIAACAAAADDzngkXyjpCa2HxLG1TFY5+s11BYVS56pbsTnCsCGk2SAAAACBIv4/LzW8aUrIyEgncE1l4Pg1wqikqISMuDlHzRvb50AAAACPXBLx2b+FeuGm3aOMRh2yB3LQXdqCtXW4xPzqHkrH4ggGLrIlJdtY8TXekig91iV1rfrHvWg5/fRKh2LrzIK5</EncryptedPassword>
    <History>False|2024-08-03T14:15:11.8950868Z;False|2024-08-03T17:12:43.3712979+03:00;</History>
    <EnvironmentSubType>AppServicePublishProfileVisual</EnvironmentSubType>
    <_PublishBasicAuthDisabled>true</_PublishBasicAuthDisabled>
    <RuntimeIdentifier>win-x86</RuntimeIdentifier>
    <RemoteSitePhysicalPath />
  </PropertyGroup>
</Project>